<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NReflect.Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NReflectStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NReflect.Studio.Properties.Settings>
            <setting name="TestCaseDirectory" serializeAs="String">
                <value>TestCases</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormClientSize" serializeAs="String">
                <value>806, 473</value>
            </setting>
            <setting name="MainFormWindowSate" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ObjectComparePanelSynchronizeTrees" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="ObjectComparePanelAutoResizeColumnsCheckState"
                serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="VisitorResultsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RunVisitorsClientSize" serializeAs="String">
                <value>264, 262</value>
            </setting>
            <setting name="RunVisitorForAllTestCases" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunTestCaseBeforeVisitors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObjectPanelAutoResizeColumns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObjectPanelTypeVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VisitorPanelVisitor" serializeAs="String">
                <value />
            </setting>
            <setting name="MessagesPanelShowErrors" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="MessagesPanelShowWarnings" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="MessagesPanelShowInfos" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="CompileFormSaveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="CompileFormDllName" serializeAs="String">
                <value />
            </setting>
            <setting name="CompileFormClientSize" serializeAs="String">
                <value>435, 291</value>
            </setting>
            <setting name="CompileFormAllTestCases" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompileFormSingleDll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionsClearMessagesOnRun" serializeAs="String">
                <value>True</value>
            </setting>
        </NReflect.Studio.Properties.Settings>
        <NReflectStudio.Properties.Settings>
            <setting name="TestCaseDirectory" serializeAs="String">
                <value>TestCases</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormClientSize" serializeAs="String">
                <value>806, 473</value>
            </setting>
            <setting name="MainFormWindowSate" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ObjectResultPanelSynchronizeTrees" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="ObjectResultPanelAutoResizeColumnsCheckState"
                serializeAs="String">
                <value>Checked</value>
            </setting>
        </NReflectStudio.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
